<!DOCTYPE html>
<html>
<head>
  <title>Linkora®</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <nav>
    <button onclick="window.location.href='/login'">Connexion</button>
    <button onclick="window.location.href='/signup'">Inscription</button>
  </nav>
  <h2 class="main-title">Welcome to</h2>
  <img src="/Metallic Bloated Package (2).png" alt="Image centrale" class="center-image" />
</body>
</html>
